@media screen and (prefers-reduced-motion: no-preference) {
    html, body {
        scroll-behavior: smooth;
    }
}

a {
    text-decoration: underline;
}

a.button {
    text-decoration: none;
}

.is-primary a {
    color: #fff;
}