@charset "utf-8";
@import "~bulma/bulma";
@import "~bulma-timeline/dist/css/bulma-timeline";

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f7f7f7;
    clip: auto !important;
    clip-path: none;
    color: #707070;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.entry-header{
    background: url('../images/hero-image-default.jpg') center center no-repeat;
    background-size: cover;
}

.hero-body{
    background-color: #00d1b2;
    opacity: 0.8;

    .title, .subtitle{
        opacity: 1;
    }
}

.entry-content{
    padding: 4.5rem 0;
}

.next-post, .previous-post{
    width: 100%;
    display: block;
    position: fixed;
    top: 45%;
    background: #00d1b2;
}

.next-post a, .previous-post a{
    position: absolute;
    display: block;
    z-index: 10;
    font-size: 5em;
    top: 45%;
    z-index: 1000;
    height: 50px;
}

.next-post, .next-post a{
    right: 0;
}

.timeline-marker.is-success.is-icon{
    color: #fff;
}

.timespan{
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    display: block;
}