$falured: #771414;
$primary: $falured;
$link: #1a4a98;

@charset "utf-8";
@import "~bulma/bulma";
@import "~bulma-timeline/dist/css/bulma-timeline";

/* GENERAL STYLES ------------------------------------
----------------------------------------------------*/
@import "general";
@import "screen-reader";
@import "smiley";
/* TEMPLATE STYLES -----------------------------------
----------------------------------------------------*/
@import "templates/page_and_single";