@charset "utf-8";

// Theme Colors
$falured: #801818;
$darkcyan: #12806F;
$darkgreen: #40801F;
$moderategreen: #6ECC3B;
$strongcyan: #12CCB0;
$pureorange: #F05F00;

$primary: $falured;
$link: $darkcyan;
$success: $darkgreen;
$focus: $pureorange;

@import "~bulma/bulma";
@import "~bulma-timeline/dist/css/bulma-timeline";

/* GENERAL STYLES ------------------------------------
----------------------------------------------------*/
@import "custom_vars_mixins";
@import "general";
@import "accessibility/accessibility";
@import "smiley";
/* COMPONENTS ----------------------------------------
----------------------------------------------------*/
@import "components/components";
/* LAYOUT STYLES -------------------------------------
----------------------------------------------------*/
@import "layout/layout";
/* TEMPLATE STYLES -----------------------------------
----------------------------------------------------*/
@import "templates/page_and_single";