@import "menu";

.pagination a {
    text-decoration: none;
}

.pagination-link[disabled], .pagination-next[disabled], .pagination-previous[disabled] {
    visibility: hidden;
}

.entry-content, .comments-area, .pagination {
    padding: 1.5rem 0;
}