.navbar a {
    text-decoration: none;
}

.main-navigation {
    border-bottom: 5px solid #fff;
}

.navbar-menu.is-active a {
    color: $link;
}

.navbar-burger span {
    height: 2px;
}

.navbar li {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .navbar.is-primary .navbar-start>li>a.navbar-item:focus, 
    .navbar.is-primary .navbar-start>li>a.navbar-item:hover, 
    .navbar.is-primary .navbar-start>li>a.navbar-item.is-active, 
    .navbar.is-primary .navbar-start .navbar-link:focus, 
    .navbar.is-primary .navbar-start .navbar-link:hover, 
    .navbar.is-primary .navbar-start .navbar-link.is-active, 
    .navbar.is-primary .navbar-end>li>a.navbar-item:focus, 
    .navbar.is-primary .navbar-end>li>a.navbar-item:hover, 
    .navbar.is-primary .navbar-end>li>a.navbar-item.is-active, 
    .navbar.is-primary .navbar-end .navbar-link:focus, 
    .navbar.is-primary .navbar-end .navbar-link:hover, 
    .navbar.is-primary .navbar-end .navbar-link.is-active {
        background-color: #6b1414;
        color: #fff;
    }
}