.home .section .title{
    text-align: center;
}

.box {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.box:last-child, .content:last-child {
    margin-bottom: 1.5rem;
}

.skills-item {
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.content .skills-item ul{
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.column figure{
    margin: auto;
}

.content figure:not(:last-child) {
    margin-bottom: auto;
}

/* New code 2019-11-15 */

.full-width-bg{
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects, .skills{
    .title {
        margin-top: 1.5rem;
    }
}

.projects .columns {
    @media screen and (min-width: 639px) {
        display: flex;
    }
}

.project-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-size: cover;
    background-position: top center;
}

.project-text{
    background-color: rgba($primary, 0.8);
    padding: 1.5rem;
    transition: 1s;
    color: #fff;

    .title{
        color: #fff;
    }

    &:hover{
        background-color: rgba($primary, 1);
    }
}

.project-footer{
    padding: 1em;
    background: $primary;

    .button{
        margin-bottom: 0;
    }
}

.skills {
    padding: 1.5rem;
    display: flex;
}

.skills .column{
    transform: perspective(5em) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;

    &:hover{
        background-color: $primary;
        color: #fff;

        h3{
            color: #fff;
        }

        @media screen and (min-height: 1023px) {
            transform: scale(1.1);
            z-index: 1;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        transform: none;
    }
}