.home .project-content {
    height: 300px;
}

.full-width-bg {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.skills {
    .column {
        background-color: $white;
        margin: 0.75rem;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    h2.title {
        color: $white;
    }

    .tags .tag {
        border: 1px solid $black;
    }
}