/* ABOUT PAGE STYLES ---------------------------------
----------------------------------------------------*/
.post-41 .entry-content {
    margin: 1.5rem;
}

.timeline-marker.is-success.is-icon{
    color: #fff;
}

.timespan{
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    display: block;
}