/* ABOUT PAGE STYLES ---------------------------------
----------------------------------------------------*/
.timeline-marker.is-success.is-icon{
    color: #fff;
}

.timespan{
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    display: block;
}