.entry-title a {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.pagination-previous, .pagination-next, .pagination-link {
    border-color: #363636;
}

/* PROJECT STYLES ------------------------------------
----------------------------------------------------*/
@import "project";

/* BLOG STYLES ---------------------------------------
----------------------------------------------------*/
@import "blog";

/* ARCHIVE STYLES ------------------------------------
----------------------------------------------------*/
@import "archive";